@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fbf8fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: none;
  color: purple;
}

.container {
  margin: 5px auto;
  border-radius: 25px;
  border: 2px solid #d6b9ec;
  background-color: #f0e6ef;
  padding: 25px 25px 25px 25px;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin-top: 5px;
  text-align: center;
}

p.min {
  font-size: 30px;
  font-weight: bold;
  color: #d90429;
  margin: 0;
  letter-spacing: 1px;
  text-align: center;
}

p.pl {
  font-size: 30px;
  font-weight: bold;
  color: #29834f;
  margin: 0;
  letter-spacing: 1px;
  text-align: center;
}

h2 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #d6b9ec;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  border-radius: 50px;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid purple;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #29834f;
  font-weight: bold;
}

.money.minus {
  color: #d90429;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #a982ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  border-radius: 50px;
  display: block;
  font-size: 16px;
  margin: 20px 0 0px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #29834f;
}

.list li.plus:hover {
  border-right: 5px solid #29834f;
  background-color: #29834f;
  color: #f7f7f7;
}

.list li.minus {
  border-right: 5px solid #d90429;
}

.list li.minus:hover {
  border-right: 5px solid #7a261d;
  background-color: #d90429;
  color: #f7f7f7;
}

.delete-btn {
  cursor: pointer;
  background-color: black;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
